.button-matrix {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;

  button {
    --color: white;
    width: 33.33vw;
    border: 0;
    outline: 0;
    transition: opacity 0.2s;
    opacity: 0.5;

    
    background: radial-gradient(var(--color) 0%, transparent 70%);

 

    &:hover {
      opacity: 1;
    }
  }
}

#baby-color-picker {
  background-color: rgba(black,0.5);
}