.button-matrix {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: absolute;

  button {
    border: 0;
    outline: 0;
    width: 100%;
    opacity: 0.5;
    --color: white;
    cursor: pointer;
    transition: opacity 0.2s;
    background: radial-gradient(circle at 50%, var(--color) 0%, transparent 50%);


    &:hover {
      opacity: 1;
    }
  }
}

#baby-color-picker {
  background-color: rgba(black,0.5);
}

@keyframes bass-matrix-spin {
  0% {
    transform: scale(1.5) rotate(0turn);
  }
  50% {
    transform: scale(1.2) rotate(-0.5turn);
  }
  100% {
    transform: scale(1.5) rotate(-1turn);
  }
}

#bass-matrix {
  width: 100vh;
  height: 100vh;
  left: calc((100vw - 100vh)/2);
  animation: bass-matrix-spin 60s linear infinite;

  button{
    position: relative;
    transition: background 0.2s;

    &:active {
      background: radial-gradient(circle at 50%, var(--baby-color) 0%, transparent 50%);
    }
  }
}
