#chat {
  position: fixed;
  bottom: 0;
  right: 0;

  input, button {
    @include font-display;
    color: white;
    border: 2px solid white;
    background: black;
    border-radius: 3px;
    font-size: 0.6em;
    padding: 0em 0.3em;
  }
  button {
    @include button-hover;
    margin-left: 10px;
  }

  input[type="text"] {
    width: 200px;
    color: var(--baby-color);
  }
}

@keyframes float-away {
  0% {
    transform: translate(0,0);
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0.3;
    display: block;
  }
  100% {
    opacity: 0.3;
    display: none;
  }
}

#chat-messages .message {
  position: fixed;
  bottom: 0;
  font-size: 0.6em;
  color: white;
  right: 10px;
  pointer-events: none;
  animation: float-away 30s forwards linear;
}