#tips {
  width: 330px;
  max-width: none;
  .buttons { 
    margin-top: 10px;
    display: flex; 
    justify-content: center;
  }
  .button {
    &:first-of-type {
      margin-right: 10px;
    }
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
  }
}

#share {
  width: 360px;
  font-size: 1em;
  
  // border: 2px solid white;
  form {
    margin: 10px auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
    input {
      font-family: 'courier new';
      font-size: 0.5em;
      width: 15em;
      margin-right: 5px;
    }

    input, button {
      padding: 0.1em;
      background: black;
      color: white;
      border: 2px solid white;
      border-radius: 2px;
    }
  }
}

#cta {

  .row {
    @include media(md) {
      display: flex;
    }
  }

  .add-to-cal {
    display: block;
    margin-top: 10px;
    min-width: 10em;
    width: 10em;
    max-width: none;
    a {
      @include button;
      display: block;
      text-decoration: none;
      font-size: 1em;
    }
  }
}

.mailing-list {
  @include text-box;
  margin-top: 10px;
  text-align: center;
  p {
    font-size: 0.5rem;
    max-width: 250px;
  }

  #mailing-list-form {
    display: flex;
    justify-content: center;
  }

  input[type="email"] {
    width: 200px;
    // font-family: courier;
    // font-size: 0.8rem;
    // height: 45px;
    &:invalid {
      background: red;
    }
  }
  input, button {
    @include font-display;
    color: white;
    border: 2px solid white;
    background: black;
    border-radius: 3px;
    padding: 0em 0.3em;
  }
  button {
    @include button-hover;
    margin-left: 5px;
  }
}

.mailing-list-alert {
  @include font-display;
  &, a {color: white;}
  font-size: 0.7rem;
  padding: 0.2rem 0.3rem;
  margin: 10px 0;

  &.-sending {
    background: black;
  }
  &.-error {
    background: red;
  }
  &.-success {
    background: green;
  }
}

#decorative-baby {
  position: fixed;
  opacity: 0.1;
  bottom: -5vh;
  right: -10vh;
  width: 50vh;
  height: 50vh;
  transform: rotate(-35deg);
  pointer-events: none;
  @include media(md) {
    bottom: -5vh;
    right: -20vh;
    width: 80vh;
    height: 80vh;
  }
  #lines {
    fill: white;
  }
  #fills {
    fill: transparent;
  }
}

.chaos-cta {
  top: 0 !important;
  right: 0 !important;
  left: auto !important;
  transform: scale(-0.8,0.8) !important;
  transform-origin: 70% 0%;
  a { pointer-events: none; }
  z-index: 10;
  position: fixed!important;
}