body {
    color: white;

    a {
        color: inherit;
        transition: transform 0.1s;
        &:hover {
            text-decoration-color: red;
        }
    }
}

@mixin button-hover {
    cursor: pointer;
    transition: transform 0.1s;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        // background: rgba(var(--baby-color,white),0.5);
        transform: scale(1.2);
    }
}

@mixin button {
    font-size: 2rem;
    @include text-box;
    color: white;
    border: 2px solid white;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;

    @include button-hover;

}

.button {
    @include button;
}