
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    @include font-display;
    color: white;
    font-size: 24px;
    @include media-big {
            font-size: 36px;
        
    }

    -webkit-tap-highlight-color: transparent !important;
}

body {
    color: white;
    user-select: none;

    a {
        color: inherit;
        transition: transform 0.1s;
        &:hover {
            text-decoration-color: red;
        }
    }
}

.scene {
    h1,h2,h3,h4,h5,h6,p,.text-box {
        @include font-display;
        @include text-box;
        display: inline-block;
        width: 80vw;

        max-width: 13em;
        margin: auto;
        // max-width: 700px;
        text-align: center;
        @include glow(white);
    }
}

@mixin button-hover {
    cursor: pointer;
    transition: transform 0.1s;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        // background: rgba(var(--baby-color,white),0.5);
        transform: scale(1.2);
    }
}

@mixin button {
    font-size: 2rem;
    @include text-box;
    color: white;
    border: 2px solid white;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;

    @include button-hover;

}

.button {
    @include button;
}

.-selectable {
    user-select: auto;
    user-select: all;
    ::select {
        background-color: var('--baby-color');

    }
}