#funk-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  pointer-events: none;
  opacity: calc(var(--funk-level-normalized)*0.3);
  background:  radial-gradient(transparent 0%, transparent 60%, var(--baby-color) 90%);
}

@keyframes chaos2 {
  0% { transform: scaleY(0.5) }
  5% { transform: scaleY(1) }
  10% { transform: scaleY(0.2) }
  15% { transform: scaleY(1.5) }
  20% { transform: scaleY(1.4) rotate(-180deg) }
  25% { transform: scaleY(3) }
  30% { transform: scaleY(0.3) }
  35% { transform: scaleY(0.1) }
  40% { transform: scaleY(0.9) }
  45% { transform: scaleY(1.5) }
  50% { transform: scaleY(1.1) }
  55% { transform: scaleY(1) }
}

#holy-space-baby {
  --baby-size: 20vw;
  --spin-time: 10s;

  @include min-screen(400px) {
    --baby-size: 18vw;
    
  }
  @include min-screen(500px) {
    --baby-size: 16vw;
    
  }
  @include min-screen(600px) {
    --baby-size: 12vw;
    
  }

  @include media-big {
    --baby-size: 8vw;
  }
  
  @include ha;
  @include colorize-fills-and-lines(var(--baby-color,lime));
  
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  transition: width 0.2s, height 0.2s;
  width: calc(var(--baby-size) + 10vw * var(--funk-level-normalized));
  height: calc(var(--baby-size) + 10vw * var(--funk-level-normalized));
  
  // Glow
  &::after {
    @include ha;
    top: -45%;
    left: -45%;
    content: '';
    right: -60%;
    bottom: -60%;
    position: absolute;
    opacity: var(--funk-level-normalized);
    background: radial-gradient(var(--baby-color) 0%, transparent 70%);
  }

  &.ghost {
    @include colorize-fills-and-lines(gray);
    opacity: 0.1;
    --spin-time: 10s;
  }

  &.flight {
    --spin-time: 4s;
  }
  &.micro {
    --spin-time: 4s;
    width: calc(var(--baby-size) /3);
    height: calc(var(--baby-size) /3);
  }


  &.chaos {
    // --spin-time: 4s;
    .center-wrap .spin-wrap {
      animation: chaos2 2s infinite alternate-reverse;
      transform: rotate(-200deg);
    }
  }

  &.still {
    --spin-time: 100s;
  }

  &.hidden {
    display: none;
  }

  .center-wrap {
    @include mask(black);

    .spin-wrap {
      animation: spin var(--spin-time) linear infinite;

      .hat {
        left: 25%;
        bottom: 40%;
        width: 100%;
        height: 150%;
        position: absolute;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100%;
      }
    }
  }
}

@keyframes rainbow-fills {
  0% { 
      fill: lime; 
    }
  15% { 
      fill: red; 
    }
  30% { 
      fill: orange; 
    }
  45% { 
      fill: yellow; 
    }
  60% { 
      fill: lime; 
    }
  75% { 
      fill: cyan; 
    }
  90% { 
      fill: violet; 
    }
  100% {
      fill: blue; 
    }
}

.scene.rainbow-baby {
  #holy-space-baby {
    #lines {
      animation: rainbow-fills 1s infinite steps(20,end);
    }
    .center-wrap {
      &::before { animation: rainbow-mask 1s linear infinite; }
    }
  }
}