@keyframes livestream-hover {
  from {
    transform: translateY(3%); 
  }
  to {
    transform: translateY(-3%);
  }
}

#livestream {
  top: 50%;
  left: 50%;
  line-height: 0;
  position: fixed;
  transition: opacity 1s, top 1s, left 1s, transform 1s;
  transform: translate(-50%,-50%);
  

  &.hidden {
    opacity: 0;
  }

  &.corner {
    // border: 1px solid red;
    top: 0;
    left: 0;
    transform: translate(-23%,-20%);
    .sizing-wrap{
      transform: scale(0.5);
    }
  }

  &.vip {
    @include rainbow-mask;
  }

  &.big {
    .sizing-wrap{
      transform: scale(1.2);
      @include min-screen(400px) {
        transform: scale(1.4);
      }
      @include min-screen(500px) {
        transform: scale(1.6);
      }
      @include min-screen(600px) {
        transform: scale(1.8);
      }
      @include media-big {
        transform: scale(2);
      }
    }
  }
  &.tiny {
    // opacity: 0.8;
    // .sizing-wrap{
    //   transform: scale(0.9);
    //   @include media-big {
    //     transform: scale(0.5);
    //   }
    // }
  }

  .animation-wrap {
    animation: livestream-hover 8s infinite alternate;
  }

  .sizing-wrap{
    transform: scale(1);
    transition: transform 0.5s;
  }

  #twitch-embed {
    height: 0;
    width: 90vw;
    line-height: 0;
    max-width: 300px;
    position: relative;
    padding-bottom: 56%;

    @include media-big {
      max-width: 400px;
    }

    iframe {
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0.7;
      height: 100%;
      overflow: hidden;
      position: absolute;
      border-radius: 20px;
      box-shadow: 0 0 50px white, 0 0 5px white;
    }
  }
}