$control-border: 2px solid white;
$control-padding: 30px;

#scene-controls {
  font-family: arial;
  left: 50%;
  bottom: 0;
  display: flex;
  z-index: 1000;
  color: white;
  position: fixed;
  align-items: center;
  border: $control-border;
  padding: $control-padding;
  transform: translate(-50%,0);
  background: rgba(white,0.6);

  button {
    color: black;
    font-size: 4em;
    cursor: pointer;
    border: $control-border;
    background: rgba(white,0.9);
    padding: $control-padding $control-padding*2;

    &:hover {
      background: white;
    } 

    &:first-of-type {
      margin-right: $control-padding;
    }
    &:active{
      color: white;
      background: black;
    }
  }

  #scene-number {
    color: black;
    font-size: 4em;
    text-align: center;
    border: 1px dotted white;
    width: $control-padding*4;
    margin-right: $control-padding;
  }

  .small-buttons {
    font-size: 0.2em;
    position: absolute;
    bottom: 100%;
    button {
      padding: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      &.-on {
        background: red;
        color: white;
      }
    }
  }

//   #zombie-button {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     font-size: 2em;
//     padding: 0;
//   }    
//   #pomplo-button {
//     position: fixed;
//     top: 0;
//     right: 50%;
//     font-size: 2em;
//     padding: 0;
//   }  
//   #tug-clear-button {
//     position: fixed;
//     bottom: 100%;
//     left: 0;
//     font-size: 2em;
//     padding: 0;
//   }  
//   #zombie-clear-button {
//     position: fixed;
//     top: 50%;
//     left: 0;
//     font-size: 2em;
//     padding: 0;
//   }  
}

#teleprompter {
  font-family: arial;
  top: 0;
  left: 50%;
  width: 90%;
  color: black;
  font-size: 1em;
  z-index: 1000;
  max-height: 60%;
  position: fixed;
  overflow: scroll;
  white-space: pre-line; // Gives us line breaks for the ES6 literals!
  border: $control-border;
  padding: $control-padding;
  background: rgba(white,0.8);
  transform: translate(-50%,0);
}

#participant-stats {
  bottom: 0;
  left: 50%;
  color: red;
  z-index: 1000;
  font-size: 2em;
  position: fixed;
  font-family: arial;
  pointer-events: none;
  border: 1px dotted red;
  translate: transformX(-50%);
}


#rehearsing-alert {
  position: fixed;
  background: red;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 0 0.2em;
  border: 2px solid white;
  opacity: 0.9;
  text-align: center;
}