
#space-babe {
  --babe-size: 15vw;
  --spin-time: 4s;

  top: 0;
  left: 0;
  width: var(--babe-size);
  height: var(--babe-size);
  position: fixed;
  pointer-events: none;
  // transition: top 0.4s, left 0.4s;

  &.hidden {
    @include colorize-fills-and-lines(gray);
    opacity: 0.1;
    --spin-time: 10s;
  }

  // &.born {
    @include colorize-fills-and-lines(lime);
  // }
  
  .center-wrap {
    @include mask(black);
    // transform: translate(-50%,-50%);
    svg {
      animation: spin var(--spin-time) linear infinite;
    }
  }
}