
#space-babe {
  --babe-size: 15vw;
  --spin-time: 4s;
  --custom-color: lime;

  top: 0;
  left: 0;
  width: var(--babe-size);
  height: var(--babe-size);
  position: fixed;
  pointer-events: none;

  &.hidden {
    @include colorize-fills-and-lines(gray);
    opacity: 0.1;
    --spin-time: 10s;
  }

  // Default 
  @include colorize-fills-and-lines(var(--custom-color));
  
  .center-wrap {
    @include mask(black);
    // transform: translate(-50%,-50%);
    svg {
      animation: spin var(--spin-time) linear infinite;
    }
  }
}