@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.1;
  }

}
#star-draw {
  width: 100vw;
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  background-image: url('../img/star-draw/nightsky.jpg');
}

.connecting-alert.-fake {
  z-index: auto;
  @include rainbow-text;
}