.tug-of-war {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid orange;
  display: flex;

  button {
    padding: 0;
    border: 2px solid orange;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    outline: 0;
    // min-width: 10%;
    flex-grow: 1;
    transition: width .1s;

    .caption {
      position: absolute;
      @include text-box;
      color: white;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      opacity: 0.7;
      background-position: center;
      z-index: -1;
    }

    &.side-1, &.side-2 {
      &:hover {
        background: rgba(orange,0.2); 
      }

      &:active {
        background: rgba(orange,0.4); 
      }

      .background::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '',
      }
    }

    &.side-1 .background::after {
      background: linear-gradient(to right, transparent, transparent 95%, orange)
    }

    &.side-2 .background::after {
      background: linear-gradient(to left, transparent, transparent 95%, orange)
    }
    .percentage {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-size: 0.6em;
      background: black;
      border: 1px solid white;
      padding: 0.2em 0.2em 0.1em;
    }
  }
}