#vip-auth {
  border: 2px solid white;
  width: 17em;
  max-width: 17em;

  input {
    @include font-display;
    color: white;
    font-size: 2em;
    border-radius: 3px;
    padding: 0em 0.3em;
    background: black;
    border: 2px solid white;

    @include media(md) {
      // transform: none;
    }
  }

  input[type="text"] {
    width: 8em;
  }
}