@keyframes background-scroll {
  from { background-position: 0vw; }
    to { background-position: -100vw; }
}
.vision {

  .portal {
    // @include glow(white);
    top: 50vh;
    left: 50vw;
    width: 60px;
    height: 60px;
    opacity: 0.8;
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    transform: translate(-50%,-50%);
    transition: width 0.2s, height 0.2s, top 10s linear, left 10s linear;

    &:hover {
      width: 100px;
      height: 100px;
    }

    .preview-image {
      background: black; // Will be overwritten
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 200px;
      height: 200px;
      position: absolute;
      background-size: cover;
      transform: translate(-50%,-50%);
    }
  }


  .universe {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background-size: contain;
    z-index: 1000000;

    animation: background-scroll 30s infinite linear;

    .description {
      bottom: 0;
      left: 50%;
      width: 90%;
      color: white;
      padding: 20px;
      position: fixed;
      max-width: 800px;  
      font-size: 1em;
      z-index: 1000;
      background: rgba(black,0.9);
      transform: translate(-50%,0);

      font-size: 25px;
  
      p {
        margin: 0;
        text-align: left;
      }

      .buttons {
        // display: flex;
        // margin-top: 20px;
        // justify-content: center;

        button {
          margin-top: 20px;
          font-size: 25px;
          display: block;
          margin: 20px auto;
          @include font-display;
        }
      }
    }
  }
}