@mixin layout-center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%)
}

@mixin layout-top {
  top: 18%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%)
}

@mixin layout-bottom {
  top: 83%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}
  
.layout-center {
  @include layout-center;
}
  
.layout-top {
  @include layout-top;
}

.layout-top-edge {
  top: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%,0);
}

.layout-bottom-edge {
  top: auto;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%,0);
}
  
.layout-bottom {
  @include layout-bottom;
}