@mixin ha {
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
}

@mixin glow($color: $green) {
  text-shadow: 0 0 15px $color;
}

@mixin mask($color) {
  &::before {
    top: -30%;
    left: -30%;
    z-index: -1;
    content: '';
    right: -30%;
    bottom: -30%;
    position: absolute;
    // mix-blend-mode: multiply;
    background: radial-gradient($color 0%, transparent 70%);
  }
}

@mixin colorize-fills-and-lines($color) {
  #fills {
    fill: $color;
    opacity: 0.2;
  }
  #lines {
    fill: $color;
  }
}

.-no-pointer {
  pointer-events: none !important;
  user-select: none;
}